= form_with(model: state_machine, local: true) do |form|
  - if state_machine.errors.any?
    #error_explanation
      %h2
        = pluralize(state_machine.errors.count, "error")
        prohibited this state_machine from being saved:
      %ul
        - state_machine.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label 'カテゴリ'
    = form.collection_select :scenario_category_id, ScenarioCategory.all, :id, :info, {}
    = form.label :name
    = form.text_field :name
    = form.label 'ポジション'
    = form.number_field :position
  .actions
    = form.submit
