= form_for @customer_action, url: transition_customer_action_path(@transition) do |f|
  - if @customer_action.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer_action.errors.count, "error")} prohibited this customer_action from being saved:"
      %ul
        - @customer_action.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :text_en
    = f.text_field :text_en
  .field
    = f.label :text_ja
    = f.text_field :text_ja
  .hidden
    = f.hidden_field :transition_id, value: @transition.id
  .actions
    = f.submit 'Save'
